# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
./example-helloworld1/package-lock.json
./example-helloworld/package-lock.json
./example-helloworld1/node_modules
./example-helloworld/node_modules
./example-helloworld1/dist
./example-helloworld/dist
./example-helloworld1/.gitignore
./example-helloworld/.gitignore
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
